body {
  font-family: 'Poppins', sans-serif;
}
body,
html {
}
#home {
  background-image: url(../images/bg.avif);
  background-size: cover;
  height: 100vh;
  position: relative;
}
#home.overlay::before {
  content: "";
  background: url('../images/bg.avif') center/cover no-repeat fixed; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
#home.overlay {
  background: rgba(0, 0, 0, 0.7); 
  position: relative;
  z-index: 1;
}

#home h5 {
  font-size: 3rem;
  font-weight: 800;
}

#home span {
  font-size: 4rem;
}
.animation span::after {
  content: '|';
  animation-name: h1;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  font-weight: 400;
}

@keyframes h1 {
  0% { content: 'L |'; }
  2% { content: 'La|'; }
  4% { content: 'La T|'; }
  6% { content: 'La Ta|'; }
  8% { content: 'La Tav|'; }
  10% { content: 'La Tavo|'; }
  12% { content: 'La Tavol|'; }
  14% { content: 'La Tavola|'; }
  16% { content: 'La Tavola |'; }

  18% { content: 'La Tavola R|'; }
  20% { content: 'La Tavola Re|'; }
  22% { content: 'La Tavola Res|'; }
  24% { content: 'La Tavola Rest|'; }
  26% { content: 'La Tavola Resta|'; }
  28% { content: 'La Tavola Restau|'; }
  30% { content: 'La Tavola Restaura|'; }
  32% { content: 'La Tavola Restauran|'; }
  34% { content: 'La Tavola Restaurant|'; }

  36% { content: 'Pizza|'; }
  38% { content: 'Pasta|'; }
  40% { content: 'Chef|'; }
  42% { content: 'Taste|'; }
  44% { content: 'Italy|'; }

  46% { content: 'Italy|'; }
  48% { content: 'Ital|'; }
  50% { content: 'Ita|'; }
  52% { content: 'It|'; }
  54% { content: 'I|'; }

  56% { content: 'C|'; }
  58% { content: 'Ch|'; }
  60% { content: 'Che|'; }
  62% { content: 'Chef|'; }
  64% { content: 'Che|'; }
  66% { content: 'Ch|'; }
  68% { content: 'C|'; }

  70% { content: 'T|'; }
  72% { content: 'Ta|'; }
  74% { content: 'Tas|'; }
  76% { content: 'Tast|'; }
  78% { content: 'Taste|'; }
  80% { content: 'Tast|'; }
  82% { content: 'Tas|'; }
  84% { content: 'Ta|'; }
  86% { content: 'T|'; }

  88% { content: 'P|'; }
  90% { content: 'Pa|'; }
  92% { content: 'Pas|'; }
  94% { content: 'Past|'; }
  96% { content: 'Pasta|'; }
  98% { content: 'Past|'; }
  100% { content: ' |'; }
}

#home .icon {
  width: 2rem;
  height: 2rem;
}
#about p {
  color: #748182;
  font-size: 15px;
}
#about button {
  margin-top: 10%;
  padding: 8px 25px;
  background-color: white;
  color: #000000;
  border-radius: 6px;
}
#about .bg-btn {
  padding: 8px 30px;
  background-color: #1c1c1c;
  color: white;
}
#about .bg-btn:hover {
  background-color: white;
  color: #000000;
}
#about button:hover {
  background-color: #1c1c1c;
  color: white;
}
#about .who{
  padding-top: 6%;
}

#services {
  background-color: #f7f7f7;
}
#services p {
  color: #748182;
}

#services h3,
#gallery h3,
#team h3,
#contact h3 {
  font-weight: 900;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.service-card-1,
.service-card-2,
.service-card-3,
.service-card-4,
.service-card-5,
.service-card-6 {
  background-size: cover;
  background-position: center;
  color: gray;
  position: relative;
  overflow: hidden;
  min-height: 350px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 8px;
}

.service-card-1 {
  background-image: url('../images/dine.webp');
}
.service-card-2 {
  background-image: url('../images/takeaway.webp');
}
.service-card-3 {
  background-image: url('../images/reserve.avif');
}
.service-card-4 {
  background-image: url('../images/catring.avif');
}
.service-card-5 {
  background-image: url('../images/dessert.avif');
}
.service-card-6 {
  background-image: url('../images/cooking.avif');
}

.service-card-1::before,
.service-card-2::before,
.service-card-3::before,
.service-card-4::before,
.service-card-5::before,
.service-card-6::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.service-card-1 *,
.service-card-2 *,
.service-card-3 *,
.service-card-4 *,
.service-card-5 *,
.service-card-6 * {
  position: relative;
  z-index: 2;
}
#services h3 .border,
#gallery h3 .border,
#team h3 .border,
#contact h3 .border {
  position: absolute;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  width: 50%;
}

#gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

#gallery .img {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}


#gallery .content {
  left: 40%;
  top: 40%;
}
#clients,
#team {
  background-color: #f7f7f7;
}

#team .card {
  background-color: #5a5a5a;
  border-radius: 5%;
  overflow: hidden;
}

#team .card img.team-img {
  width: 100%;
  height: 350px; /* fixed height */
  object-fit: cover;
}

#clients .img img {
  width: 2rem;
  height: 2rem;
}

.numbers p {
  color: #748182;
}

.numbers .row h3 {
  font-weight: 900;
}

#contact .form-control {
  background-color: #f4f4f4;
}
.custom-btn {
  background-color: white;
  color: black;
}

.custom-btn:hover {
  background-color: black;
  color: white;
}

/* Custom NAV CSS */
.navbar {
  background-color: transparent;
  transition: background-color 0.3s;
  
}

.navbar:hover {
  background-color: #D2B48C;
  color: white;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  transition: color 0.3s;
}

.navbar:hover .navbar-brand,
.navbar:hover .navbar-nav .nav-link {
  color: white;
}

/* Icon Services */

.container .rounded-2 {
  position: relative;
  transition: background-color 0.3s;
}

.container .rounded-2:hover {
  background-color: black;
}

.container .rounded-2:hover .icon i {
  background-color: black;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}

.overlay-info {
  opacity: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  );
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000; 
}

.img:hover .overlay-info {
  opacity: 1;
}

.card .content .overlay:hover img {
  opacity: 0.5;
}

.card .content .overlay .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .content .overlay:hover .icons {
  display: flex;
}
#team:hover .icons{
 
  display: flex;
}

.card .content .overlay .icons a {
  margin: 0 5px;
  color: white;
  font-size: 20px;
}

.testimonial-item {
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}

.testimonial-item p,
.testimonial-item span {
  font-size: 14px;
  color: #748182;
}

#testimonials {
  background-color: #f5f5f5;
}
#contact .bg {
  background-color: #f4f4f4;
  border-radius: 100%;
  padding: 15px 15px;
}

#team .icons{
  display: none;
}